p{
    font-size: 20pt;
    margin: 50px;
}

div{
  width: 500px;
  background-color: rgb(21, 255, 0);
  animation-name: example;
  animation-duration: 10s;
  position: relative;
  animation-iteration-count: infinite;
}

@keyframes example{
    0%   {background-color:red; left:1px; top:10px;}
  25%  {background-color:yellow; left:400px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:800px; top:200px;}
  100% {background-color:rgb(255, 0, 179); left:0px; top:0px;}
}
